<h1>Eventful Touring Map<small> by Carli Martinez</small></h1>
<br>
<%= form_for @search, url: searches_path, html: {class: "search-form", :multipart => true} do |f| %>
      <%= f.label :name %> <%= f.text_field :name %>
      <%= f.submit %>
<% end %>

<% arr = [] %>

<% @searches.each do |search| %>
  <% arr.push(search.name) %>
<% end %>

<h1><%= keyword = arr[-1].to_s %></h1>
<%
 require 'rubygems'
 require 'eventful/api'

 # First, create our Eventful::API object
 eventful = Eventful::API.new ''
 nation_events = []
 nation_total = []
 states = ["Arizona", "California", "Oregon", "Seattle", "Nevada", "Idaho"]

   states.each do |state|
     state_total_count = 0
     state_events = []
     # This is the cool part!
     results = eventful.call 'events/search',
                             :keywords => keyword,
                             :location => state,
                             :date => "Future",
                             :page_number => 1

     # If we couldn't find anything, ask the user again
     if results['events'].nil? then
       result += "Hmm. I couldn't find anything. Sorry."
     end

     state_total_count = results['total_items']
     nation_total.push(state_total_count)
     # Output the results
     results['events']['event'].each do |event|
      #  result += "http://eventful.com/events/" + event['id']
       result = " "
       result += event['title']
       result += "  at " + event['venue_name']
       result += "  on " + event['start_time'].to_s
       result += "________"
       state_events.push(result)
     end
     nation_events.push(state_events)
   end
 %>
<% state_color_arr = []%>

<% nation_total.each do |state| %>
  <% if state.to_i > 600 %>
    <% state_color_arr.push("Heavy") %>
  <% elsif state.to_i > 300 %>
    <% state_color_arr.push("Medium") %>
  <% else %>
    <% state_color_arr.push("Low")%>
  <% end %>
<% end %>

<div id="container" style="position: relative; width: 1000px; height: 600px;"></div>

<script>
    var map = new Datamap({
        element: document.getElementById('container'),
        scope: 'usa',
        geographyConfig: {
        highlightBorderColor: '#bada55',
       popupTemplate: function(geography, data) {
          return '<div class="hoverinfo">' + data.events + ' '
        },
        highlightBorderWidth: 3
      },
        fills: {
        "Low": '#ffccff',
        'Medium': '#ff80ff',
        'Heavy': '#ff1aff',
        'Nothing': '#00000',
        defaultFill: '#00000'
      },
      data:{
      "AZ": {
          "fillKey": "<%= state_color_arr[0].to_s %>",
          "events": "<%= nation_total[0] %>" + " Events"
      },
      "CO": {
          "fillKey": "Nothing",
          "events": 5
      },
      "DE": {
          "fillKey": "Nothing",
          "events": 32
      },
      "FL": {
          "fillKey": "Nothing",
          "events": 29
      },
      "GA": {
          "fillKey": "Nothing",
          "events": 32
      },
      "HI": {
          "fillKey": "Nothing",
          "events": 32
      },
      "ID": {
        "fillKey": "<%= state_color_arr[5].to_s %>",
        "events": "<%= nation_total[5] %>" + " Events"
      },
      "IL": {
          "fillKey": "Nothing",
          "events": 32
      },
      "IN": {
          "fillKey": "Nothing",
          "events": 11
      },
      "IA": {
          "fillKey": "Nothing",
          "events": 11
      },
      "KS": {
          "fillKey": "Nothing",
          "events": 32
      },
      "KY": {
          "fillKey": "Nothing",
          "events": 32
      },
      "LA": {
          "fillKey": "Nothing",
          "events": 32
      },
      "MD": {
          "fillKey": "Nothing",
          "events": 32
      },
      "ME": {
          "fillKey": "Nothing",
          "events": 32
      },
      "MA": {
          "fillKey": "Nothing",
          "events": 32
      },
      "MN": {
          "fillKey": "Nothing",
          "events": 32
      },
      "MI": {
          "fillKey": "Nothing",
          "events": 32
      },
      "MS": {
          "fillKey": "Nothing",
          "events": 32
      },
      "MO": {
          "fillKey": "Nothing",
          "events": 13
      },
      "MT": {
          "fillKey": "Nothing",
          "events": 32
      },
      "NC": {
          "fillKey": "Nothing",
          "events": 32
      },
      "NE": {
          "fillKey": "Nothing",
          "events": 32
      },
      "NV": {
        "fillKey": "<%= state_color_arr[4].to_s %>",
        "events": "<%= nation_total[4] %>" + " Events"
      },
      "NH": {
          "fillKey": "Nothing",
          "events": 32
      },
      "NJ": {
          "fillKey": "Nothing",
          "events": 32
      },
      "NY": {
          "fillKey": "Nothing",
          "events": 32
      },
      "ND": {
          "fillKey": "Nothing",
          "events": 32
      },
      "NM": {
          "fillKey": "Nothing",
          "events": 32
      },
      "OH": {
          "fillKey": "Nothing",
          "events": 32
      },
      "OK": {
          "fillKey": "Nothing",
          "events": 32
      },
      "OR": {
          "fillKey": "<%= state_color_arr[2] %>",
          "events": "<%= nation_total[2] %>" + " Events"
      },
      "PA": {
          "fillKey": "Nothing",
          "events": 32
      },
      "RI": {
          "fillKey": "Nothing",
          "events": 32
      },
      "SC": {
          "fillKey": "Nothing",
          "events": 32
      },
      "SD": {
          "fillKey": "Nothing",
          "events": 32
      },
      "TN": {
          "fillKey": "Nothing",
          "events": 32
      },
      "TX": {
          "fillKey": "Nothing",
          "events": 32
      },
      "UT": {
          "fillKey": "Nothing",
          "events": 32
      },
      "WI": {
          "fillKey": "Nothing",
          "events": 32
      },
      "VA": {
          "fillKey": "Nothing",
          "events": 32
      },
      "VT": {
          "fillKey": "Nothing",
          "events": 32
      },
      "WA": {
          "fillKey": "<%= state_color_arr[3] %>",
          "events": "<%= nation_total[3] %>" + " Events"
      },
      "WV": {
          "fillKey": "Nothing",
          "events": 32
      },
      "WY": {
          "fillKey": "Nothing",
          "events": 32
      },
      "CA": {
          "fillKey": "<%= state_color_arr[1] %>",
          "events": "<%= nation_total[1] %>"  + " Events"
      },
      "CT": {
          "fillKey": "Nothing",
          "events": 32
      },
      "AK": {
          "fillKey": "Nothing",
          "events": 32
      },
      "AR": {
          "fillKey": "Nothing",
          "events": 32
      },
      "AL": {
          "fillKey": "Nothing",
          "events": 32
      }
      }
    });
</script>

<%= nation_events.to_s %>
